<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/custom_styles.css' %}" rel="stylesheet" media="screen">
    <!-- jQuery required -->
    <script src="{% static 'js/jquery.js'%}"></script>
    <script src="{% static 'js/the_source.js'%}"></script>
    <script src="{% static 'js/jquery.rating-2.0.js' %}"></script>
    <link href="{% static 'styles/rating.styles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'styles/jquery.rating.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <link href="{% static 'styles/jquery.tagsinput.css' %}" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="text-center">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-overflow-content">
                <img src="{% static 'image/crystalnix_small.png' %}" class="crystalnix-logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="books_bar"><a href="{% url 'books:list' %}">Books Page</a></li>
                <li id="users_bar"><a href="{% url 'books:users'  %}">Users Page</a></li>
                <li id="request_bar"><a href="{% url 'books:request'  %}">Request book from shop</a></li>
                {% if user.is_staff %}
                <li id="add_bar"><a href="{%  url 'books:add' %}">Add book in Library</a></li>
                <li id="print_bar"><a href="{% url 'books:print' %}">Print QR codes</a></li>
                {% endif %}
            </ul>
            <p class="navbar-text pull-right"><span id="sign-text">Signed in as</span>
                <a href="{% url "profile:profile" user.pk %}" class="navbar-link"> <span id="sign-text-user">{{ user }}</span></a>
                <a class="btn btn-xs btn-danger" href="{% url 'authorisation:auth_logout' %}">
                    <span class="glyphicon glyphicon-off"></span>
                </a>
            </p>
        </div><!--/.nav-collapse -->

    </div>
</div>



    <div class="books-content">

        <div class="container">

        </div>
<div class="container" >
             {%  block filter %} {% endblock %}
            {% block content %}{% endblock %}
    </div>
</div>

{% block pagination %}{% endblock %}

<!-- Bootstrap features -->
<script src="{% static 'js/bootstrap.js'%}"></script>
{% block extensions %}
{% endblock %}
</body>
</html>