<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>

    @page {
        @frame col1_frame {
            left: 20pt; width: 250pt; top: 20pt; height: 680pt;
        }
        @frame col2_frame {
            left: 300pt; width: 250pt; top: 20pt; height:680pt;
        }
{#        @frame footer_frame {#}
{#            -pdf-frame-content: footer_content;#}
{#            left: 5pt; width: 1000pt; top: 100pt; height: 20pt;#}
{#        }#}

    }
</style>

</head>
<body>
{#        <div id="footer_content">#}

{#        </div>#}
{% for book in books %}
<h1 style="border-right:1px solid black">
        <img class="img" src="{{ book.qr_image.url }}" alt="qr" width="150" height="150">
        <h2 class="media-heading" style="border-right:1px solid black"><b>Company: Crystalnix</b> </h2>
        <h2 class="media-heading" style="border-right:1px solid black"><b>ISBN:</b> {{ book.isbn }} </h2>
        <h2 class="media-heading" style="border-right:1px solid black"><b>Title:</b> {{ book.title }} </h2>
        <hr>
</h1>
{% endfor %}


</body>
</html>