{% extends 'book_library/books_mainpage.html' %}
{% block title %}Add new book{% endblock %}
{% block location %}Add new book{% endblock %}

{% block content %}

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <ul class="button-group round">
            <li>
                <button type="submit" class="button success ">
                    Confirm
                </button>
            </li>
            <li>
                <a class="button alert  " href="javascript: window.history.back()">
                    Cancel
                </a>
            </li>
        </ul>
    </form>

{% endblock %}