{% extends 'book_library/books_mainpage.html' %}
{% block title %}{{ author.first_name }} {{ author.last_name }} 's books.{% endblock %}
{% block location %}{{ author.first_name }} {{ author.last_name }} 's books.{% endblock %}
{% block link_extension %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/book_index.css' %}"/>

{% endblock %}

{% block content %}

    {% if author.first_name %}
        <div class="row comment_name" >
            First name:
        <span class="declaration_area">
        {{ author.first_name }}
        </span>
        </div>
    {% endif %}
    {% if author.last_name %}
        <div class="row comment_name">
            Last name: <span class="declaration_area">
            {{ author.last_name }}
          </span>
        </div>
    {% endif %}
    {% if author.middle_name %}
        <div class="row comment_name">
            Middle name: <span class="declaration_area">
            {{ author.middle_name }}
          </span>
        </div>
    {% endif %}
    {% if not author.first_name and not author.last_name and not author.middle_name %}
        Unknown Author
    {% endif %}
    <hr/>
    {% for book in author.books.all %}
        {# ################# #}
        <div class="row work_label" id="book_{{ book.id }}">
            <div class="row">
                <div class="small-5 columns work_label_left">
                    <div class="row">
                        {% if book.picture%}
                            <a href="#" data-dropdown="drop_book{{book.id}}" data-options="is_hover:true">
                                <img src="{{ book.picture.url }}" class="thumbnail">
                            </a>
                            <ul id="drop_book{{book.id}}" class="f-dropdown content large" data-dropdown-content>
                                <li>
                                    <a >
                                        <img src="{{ book.picture.url }}"/>
                                    </a>
                                </li>
                            </ul>
                        {% else %}

                            <a href="#" data-dropdown="drop_book{{book.id}}" data-options="is_hover:true">
                                {% load staticfiles %}
                                <img src="{% static 'image/book_index.png' %}" class="thumbnail">
                            </a>
                            <ul id="drop_book{{book.id}}" class="f-dropdown content large" data-dropdown-content>
                                <li>
                                    <a >
                                        {% load staticfiles %}
                                        <img src="{% static 'image/book_index.png' %}"/>
                                    </a>
                                </li>
                            </ul>

                        {% endif %}
                    </div>
                </div>
                <div class="small-5 columns work_label_middle">
                    <div class="row">
                        <a href='{% url "books:book" book.id %}' class="book_href">
                            {{ book.title }}
                        </a>
                        <hr/>
                        {% for author in book.authors.all %}
                            <a href='{% url "books:author" author.id %}' class="author_href">
                                {{ author.first_name }} {{ author.last_name }}
                            </a>
                            <br>
                        {% endfor %}
                        <hr/>
                        {% for tag in book.tags.all %}
                            <a href="{% url 'books:tag' tag.id %}" class="technology_href">{{ tag.tag }} </a>,
                        {% endfor %}
                        <div class="row offset"></div>
                     <span>
                         Status:
                         {% if book.busy %}
                             {% ifequal user book.taken_by %}
                                 <span class="status_mine"> Mine </span>
                             {% else %}
                                 <span class="status_busy"> Busy </span>
                             {% endifequal %}
                         {% else %}
                             <span class="status_free"> Free </span>
                         {% endif %}
                     </span>

                    </div>
                </div>
                <div class="work_label_right">
                    <div class="right">
                        <div class="rating_{{ book.id }}">
                            {% load staticfiles %}
                            <img src="{% static 'images/ajax-loader.gif' %}"  />
                            {% load staticfiles %}
                            <img src="{% static 'images/stars.png' %}"/>

                            <input type="hidden" class="val" value="{{ book.book_rating.common_rating }}"/>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row stock">

                <a  class="button spoiler_button right"

                    onclick=" add_comment_list({{ book.id }})"
                        >
                    Comments ▼
                </a>
            </div>

        </div>
        <script>
            {% if book.book_rating.common_rating and book.book_rating.votes %}
                $('div.rating_'+'{{ book.id }}').rating({{ book.id }},{{ book.book_rating.common_rating }},{{  book.book_rating.votes }});
            {% else %}
                $('div.rating_'+'{{ book.id }}').rating({{ book.id }},{{0}},{{0}},{{0}});
            {% endif %}
        </script>
        <div class="row comment_panel_strip">
            <div class="panel comment_panel" id="panel{{ book.id }}">
                <div class="row row_panel" id="row_panel{{ book.id }}">
                    {#####}

                    {#####}
                    {% if book.comments.all %}
                        {% for comment in book.comments.all %}
                            <div class="row comment_branch" >

                                <a href="{% url 'profile:profile' comment.user.pk %}" class="comment_name">
                                    {{ comment.user }}:
                                </a>
                                {{ comment.comment }}
                                <div class="row comment_time">
                                    {{comment.sent_time}}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="row">
                    <div class="small-2 columns input_comment_column">
                        <input id="input{{ book.id }}" onkeydown="enter({{ book.id }}, {{ user.pk }})" type="text" class="input_comment">
                    </div>
                    <div class="small-2 columns">
                        <a class="comment_button button" onclick="  comment({{ book.id }}, {{ user.pk }});"> Send! </a>
                    </div>
                </div>

            </div>
        </div>
        {# ################# #}
    {% endfor %}



{% endblock %}