{% extends 'main/base.html' %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}

    <p>
        {% if book.isbn%}
            ISBN: {{ book.isbn }} <br>
        {% endif %}
        Id: {{ book.id }}
        {% if book.picture%}
            <img src="{{ book.picture.url }}" alt="Book image"/><br>
        {% else %}
            <img src="/static/No_Image_Available.gif" alt="Book image"/><br>
        {% endif %}
        Title: {{ book.title }} <br>
        Authors:
        <ls>
            {% for author in book.authors.all %}
                <a href={% url "books:author" author.id %}>{{ author.first_name }} {{ author.last_name }} </a><br>
            {% endfor %}
        </ls>
        Description: {{ book.description }}<br>
        Is busy: {{ book.busy }} <br>
        <a href={% url "books:book:story" book.id %}>Book story </a><br>
        E version: {{ book.e_version_exists }} <br>
        Paper version: {{ book.paperback_version_exists }} <br>
        Tags:
        <ls>
            {% for tag in book.tags.all %}
                <a href={% url "books:tag" tag.tag %}>{{ tag.tag }}</a>
            {% endfor %}
        </ls>
        <br>
    {% if not book.busy %}
        <ul><a href="{% url "books:book:take" book.id %}"><img src="/static/Take_book.jpg" alt="Book image"/></a></ul>
    {% else %}
        <ul><a href="{% url "books:book:return" book.id %}"><img src="/static/Return_book.jpg" alt="Book image"/></a></ul>
    {% endif %}
    <p><a href="{% url 'books:list' %}">Return </a>to list of books.</p>
    {% if user.is_staff %}
        <p><a href="{% url 'books:book:change' book.id %}">Change book</a></p>
        <p><a href="{% url 'books:book:delete' book.id %}">Delete book</a></p>
    {% endif %}

{% endblock %}