{% extends 'book_library/books_mainpage.html' %}
{% block title %}Change book{% endblock %}
{% block location %}Change book{% endblock %}


{% block extensions %}
    <script language="JavaScript" xmlns="http://www.w3.org/1999/html">
        $(document).ready((function(){

            $('input[name="authors_names"]').val('{% for author in book.authors.all  %}{{ author.first_name }} {{ author.last_name }}'+
                    '{% if not forloop.last %},{% endif %} {% endfor %}')
            $('input[name="tag_field"]').val('{% for tag in book.tags.all  %} {{ tag.tag }}{% if not forloop.last %},{% endif %} {% endfor %}')
            $('input[type=text]').css('border-radius','8px')

        }))
    </script>
{% endblock %}

{% block content %}

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <ul class="button-group round">
            <li>
                <button type="submit" class="button success ">
                    Confirm
                </button>
            </li>
            <li>
                <a class="button alert  " href="{% url 'books:book' book.id %}">
                    Cancel
                </a>
            </li>
        </ul>
    </form>


{% endblock %}