{% extends 'book_library/books_mainpage.html' %}
{% block title %}Change book{% endblock %}
{% block location %}Change book{% endblock %}

{% block content %}

    <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
        <ul class="button-group round">
            <li>
                <button type="submit" class="button success ">
                    Confirm
                </button>
            </li>
            <li>
                <a class="button alert  " href="{% url 'books:book:book' book.id %}">
                    Cancel
                </a>
            </li>
        </ul>
    </form>

{% endblock %}