{% extends 'book_library/books_mainpage.html' %}
{% block title %}{{ book_tag.tag }}{{ author.last_name }} 's books.{% endblock %}
{% block location %}{{ book_tag.tag }} 's books.{% endblock %}
{% block link_extension %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/book_index.css' %}"/>

{% endblock %}

{% block content %}

    {% if book_tag.tag %}
        <div class="row comment_name" >
            Tag:
        <span class="declaration_area">
        {{ book_tag.tag }}
        </span>
        </div>
    {% endif %}
    <br/>
    {% for book in book_tag.books.all %}

        {# ################# #}
        <div class="row work_label" id="book_{{ book.id }}">
            <div class="row">
                <div class="small-5 columns work_label_left">
                    <div class="row">
                        {% if book.picture%}
                            <a href="#" data-dropdown="drop_book{{book.id}}" data-options="is_hover:true">
                                <img src="{{ book.picture.url }}" class="thumbnail">
                            </a>
                            <ul id="drop_book{{book.id}}" class="f-dropdown content large" data-dropdown-content>
                                <li>
                                    <a >
                                        <img src="{{ book.picture.url }}"/>
                                    </a>
                                </li>
                            </ul>
                        {% else %}

                            <a href="#" data-dropdown="drop_book{{book.id}}" data-options="is_hover:true">
                                {% load staticfiles %}
                                <img src="{% static 'image/book_index.png' %}" class="thumbnail">
                            </a>
                            <ul id="drop_book{{book.id}}" class="f-dropdown content large" data-dropdown-content>
                                <li>
                                    <a >
                                        {% load staticfiles %}
                                        <img src="{% static 'image/book_index.png' %}"/>
                                    </a>
                                </li>
                            </ul>

                        {% endif %}
                    </div>
                </div>
                <div class="small-5 columns work_label_middle">
                    <div class="row">
                        <a href='{% url "books:book" book.id %}' class="book_href">
                            {{ book.title }}
                        </a>
                        <hr/>
                        {% for author in book.authors.all %}
                            <a href='{% url "books:author" author.id %}' class="author_href">
                                {{ author.first_name }} {{ author.last_name }}
                            </a>
                            <br>
                        {% endfor %}
                        <hr/>
                        {% for tag in book.tags.all %}
                            <a href="{% url 'books:tag' tag.id %}" class="technology_href">{{ tag.tag }} </a>,
                        {% endfor %}
                        <div class="row offset"></div>
                     <span>
                         Status:
                         {% if book.busy %}
                             {% ifequal user book.taken_by %}
                                 <span class="status_mine"> Mine </span>
                             {% else %}
                                 <span class="status_busy"> Busy </span>
                             {% endifequal %}
                         {% else %}
                             <span class="status_free"> Free </span>
                         {% endif %}
                     </span>

                    </div>
                </div>
                <div class="work_label_right"></div>
            </div>
            <div class="row stock">
                <a  class="button spoiler_button right"

                    href="javascript: add_comment_list({{ book.id }})"
                        >
                    ▼
                </a>
            </div>

        </div>
        <div class="row comment_panel_strip">
            <div class="panel comment_panel" id="panel{{ book.id }}">
                <div class="row row_panel" id="row_panel{{ book.id }}">

                    <div class="row comment_branch" >
                        <a href="#" class="comment_name"
                           onclick=" comment_branch()">
                            User1:
                        </a>
                        comment of first user.

                        <div class="row comment_branch">
                            <a href="#" class="comment_name"
                               onclick=" comment_branch()">
                                User2:
                            </a>
                            comment of second user.

                            <div class="row comment_branch">
                                <a href="#" class="comment_name"
                                   onclick=" comment_branch()">
                                    User1:
                                </a>
                                Answer of first user.

                                <div class="row comment_branch">
                                    <a href="#" class="comment_name"
                                       onclick=" comment_branch()">
                                        User2:
                                    </a>
                                    The Holywar has began.

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment_branch">
                        <a href="#" class="comment_name"
                           onclick=" comment_branch()">
                            User3:
                        </a>
                        First sober comment

                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="small-2 columns input_comment_column">
                            <input id="input{{ book.id }}"  type="text" class="input_comment">
                        </div>
                        <div class="small-2 columns">
                            <button type="submit" class="comment_button" onclick="comment({{ book.id }})"> Send! </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        {# ################# #}
    {% endfor %}



{% endblock %}