{% extends 'main/base.html' %}
{% block content %}
{% if object_list %}
        <ul>
            {% for user in object_list %}
                <li>
               <a href={% url "profile:profile" user.id %}>{{ user }}</a>
                <ul>

                    {% for book in user.get_users_books %}
                    <li><a href={% url "books:book:book" book.id %}>{{ book.title }}</a>
                        {% for author in book.authors.all %}
                            <a href={% url "books:author" author.id %}>{{ author.first_name }} {{ author.last_name }}</a>
                        {% endfor %}
                    </li>

                    {% endfor %}
                </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books are available.</p>
    {% endif %}
{% endblock %}