html{

    background: url(../image/hard_paper_texture_by_dl_stockandresources-d5jalsg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    width: 100%;

}

body{
    width: 100%;
    background: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

.top_offset{
    height: 200px;
}

.side_offset{
    width: 25%;
    height: 1px;
}

.main_row{

    width: 500px;
    background: -webkit-linear-gradient(top, #fdffdd 4%,#ffffff 50%,#fff7dd 100%);
    background: -o-linear-gradient(top, #fdffdd 4%,#ffffff 50%,#fff7dd 100%);
    background: -ms-linear-gradient(top, #fdffdd 4%,#ffffff 50%,#fff7dd 100%);
    border-radius: 10px;
    box-shadow: 10px 10px 40px #000000;
    position: static;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;

}

.pin_header{

    background: #ffdf88;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    font: SERIF;
    font-size: 18pt;
    color: black;
    margin: 0;
    padding: 5pt;
    padding-left: 25px;
    border-style: ridge;
    box-shadow: 0 10px 20px #000000;
}

.canvas_circle{
    width: 20px;
    height: 20px;
}

.offset_row{
    height: 40px;

}

.input_row{
    padding-left: 40px;
    padding-right: 40px;
}

.input_style{
    width: 250px;
}

.submit_button{

    border-radius: 15px;
    font-size: 18pt;
    color: #f5f5f5;
    font-weight: bold;
    padding: 4pt;
    width: 150px;
    height: 45px;
    text-align: center;

    margin-left: 40px;

}

.support_row{
    width: 500px;
    margin-left: 20px;
}

.image{
    float: left;
    text-align: justify;
}

.remember_me{
    margin-left: 40px;
    font: arial;
    font-size: 10pt;
    font-style: italic;
}

.support_button{
    border-radius: 15px;
    font-size: 12pt;
    color: #f5f5f5;
    font-weight: bold;
    padding: 4pt;
    width: 200px;
    height: 45px;
    text-align: center;


}

.error_box{
    border: #a52a2a 2px;
    border-style: outset;
    background: rgba(255,0,0,0.24);
    font: sans-serif;
    color: #7a0000;
    margin: 10px;
    margin-left: 40px;
    padding: 8pt;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.block{
    display: none;
}

.captcha{
    /*it will be defined later*/
}