.picture_row{
    padding: 20px;
}
.picture_area{
    display: block;
    width: 280px;
    height: 280px;
}

.info_area{
    padding-left: 40px;
    color: #2184b0;
    font-weight: bold;
    text-align: left;
}

.declaration_area{
    text-align: left;
    padding-left: 10pt;
    font-weight: normal;
    color: #0a0a0a;
}

.activity_area{
    padding: 20px;
    font-size: 24pt;
}



.action_style{
    padding: 10px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.action_button{
    border-radius: 10px;
    padding: 4px;
}

.take{
    background: green;

}
.take:hover{
    background: #005d00;
}

.ask{
    background: red;
}
.ask:hover{
    background: darkred;
}

.put{
    background: #ff8704;
}
.put:hover{
    background: #824502;
}

.free{
    background: green;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #f5f5f5;
}

.busy{
    background: red;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #f5f5f5;
}

.mine{
    background: #ff8704;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #f5f5f5;
}