.request_area{
    padding: 0;
    padding-right: 40px;
    padding-left: 40px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.request_button{

    border-radius: 30px;
    height: 30px;
    width: 90px;;
    font: sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 4px;
    color: #f5f5f5;
}

.exist_declaration{
    color: #515246;
    padding-left: 40px;
}

.request_link_area{
    padding: 20px;
    height: 100%;
}

.request_link{
    text-align: left;
    position: relative;
    padding: 10px;
    margin: 40px;
    font-size: 24px;
}

.request_vote_area{

    padding: 0;
    margin: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: static;
    text-align: center;
}

.request_vote_button{

    padding:  0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    float: right;
    text-align: center;
    position: static;
    font-size: 30pt;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;

}

.request_vote_counter{

    padding:  0px;
    margin: 0px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    display:  block;
    font-size: 30pt;
    text-align: center;
    position: static;

}