
{% extends '../../../main/templates/main/base.html' %}
{% block title %} Crystalnix library: Welcome! {% endblock %}

{% block content %}
    {% load static %}
    <hr/>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">Success!</div>
            <div class="panel-body">

                Letter has been sent successfully! Soon our people will contact you.

            </div>
        </div>

        <a href="{% url 'authorisation:auth_login' %}" class="btn btn-primary btn-lg btn-block">
            Continue <span class="glyphicon glyphicon-hand-right"></span>
        </a>
    </div>


{% endblock %}