header{
    width:100%;
    background: #000000;
    color: #f5f5f5;
    text-align: left;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.top_bar_row{
    background: black;
    min-width: 1090px;
    position: relative;
    width: 100%;
    height: 80px;
    padding: 10px;
    margin: 0;
}

.top_bar_left_side{
    float: left;
    height: 100%;
    background: #000000;
    position: relative;
    width: 10%;
}

.top_bar_right_side{
    float: right;
    height: 100%;
    position: relative;
    width: 10%;
}

.user_label{
    min-width: 150px;
}

a{
    /*noth*/
}

.active_bar_button{
    background: -webkit-linear-gradient(top, #280036 4%, #a384c2 50%, #000000 100%);
    background: -o-linear-gradient(top, #280036 4%, #a384c2 50%, #000000 100%);
    background: -ms-linear-gradient(top, #280036 4%, #a384c2 50%, #000000 100%);
    background: -moz-linear-gradient(top, #280036 4%, #a384c2 50%, #000000 100%);
    border-color: #280036;
    color: #e8eac8;
    min-width: 128px;
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-color: black;
}
.bar_button
{
    border-color: #280036;
    border-bottom-color: black;
    height: 100%;
    width: 100%;
    min-width: 128px;
    text-align: left;
    color: #e8eac8;
    background: -webkit-linear-gradient(top, #171717 4%, #626355 50%, #000000 100%);
    background: -o-linear-gradient(top, #171717 4%, #626355 50%, #000000 100%);
    background: -ms-linear-gradient(top, #171717 4%, #626355 50%, #000000 100%);
    background: -moz-linear-gradient(top, #171717 4%, #626355 50%, #000000 100%);
    border-top-right-radius: 20px;
    padding: 10px;;
}
.bar_right_button
{
    padding: 5px;
    font-size: 12pt;
    border-radius: 5px;
    background: rgba(127, 0, 234, 0.49);
    margin: 15px;
    border-color: #280036;
}

.bar_right_button:hover{
    background: #7f00ea;
}

.bar_username_style{
    color: #2184b0;

}