<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/custom_styles.css' %}" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
    <style>
        html{
            background: #eee;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row"><img src="{% static 'image/crystalnix.png' %}" class="pull-left"></div>
    <div class="row "><span class="pull-left library-notice"> L i b r a r y </span></div>
</div>
<div class="container">

        {% block content %}{% endblock %}


        {% block footer %}
        {% endblock %}

</div>

<!-- jQuery required -->
<script src="{% static 'js/jquery.js'%}"></script>
<!-- Bootstrap features -->
<script src="{% static 'js/bootstrap.js'%}"></script>

</body>


</html>