<html class="no-js" lang="eng">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<head>

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}"/>
    
    <link rel="stylesheet" href="{% static 'css/foundation.css'%}" />
    
    <script src="{%static 'js/vendor/custom.modernizr.js'%}"></script>
    
    <script src="{% static 'js/the_source.js'%}"></script>
    
    <link rel="stylesheet" href="{% static 'css/authorisation.css' %}"/>
    {# <link rel="stylesheet" href=" css/authorisation.css" /> #}
</head>


<body>
<div class="row top_offset" ></div>
<div class="large-4 columns side_offset" ></div>
<div class="large-1 columns" >
    <div class="row main_row" id="main_row">


        {% block content %}{% endblock %}


        {% block footer %}

        {% endblock %}

    </div>
    <div class="offset_row"></div>
</div>


<script src="{% static 'js/zepto.js'%}"></script>

<script src="{% static 'js/foundation/foundation.js'%}"></script>

<script src="{% static 'js/jquery.js'%}"></script>
<script>
    $(document).foundation();
</script>
</body>


</html>